@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
      Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 14px;

    @apply text-secondary-light bg-dark;
  }

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  svg {
    margin: 0;
  }
}

@layer components {
  .btn {
    @apply rounded-2xl bg-primary text-white font-bold px-3 py-1 hover:bg-primary-dark transition-all duration-500 ease-out;
  }

  .btn-xl {
    @apply py-4;
  }
}

@layer utilities {
}
